*{
    padding: 0px;
    margin: 0px;
}

body{
    max-width: 1000px;
    min-width: 300px;
}

nav{
  align-items: center;
  display: flex;
padding-left: 25px;
}

a{
padding: 5px;
padding-right: 20pxpx;
}

.contato{
    padding-left: 1020px;
}