@charset "UTFT-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    margin: auto;
    text-align: center;
    transform: translate(-0%,200%);
    border: 2px solid black;
    padding: 10px;
    width: fit-content;

}

input,label{
    margin: 2px;
}