div.quadrado{
    border: 1px  solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: lightblue;
}

div#q1{
    background-image:url('imagens/pattern001.png');
}

div#q2{
background-image: url('imagens/wallpaper002.jpg');
}

div#q3{
background-image: url('imagens/pattern003.png');
}